.deployments/
**/target/
application/web/src/main/webapp/**/*
!application/web/src/main/webapp/WEB-INF/**/*
application/web/src/app/generated/**/*
config/**/*
!config/tomcat/**/*

# IntelliJ #
**/.idea/
**/*.iml
**/out/

# Eclipse #
**/.classpath
**/.project
**/.settings/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# System Files
.DS_Store
Thumbs.db

# Angular 2 #

# compiled output
application/web/dist
application/web/tmp
application/web/out-tsc

# dependencies
application/web/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
application/web/e2e/*.js
application/web/e2e/*.map