body {
  font-family: Ubuntu, Verdana, sans-serif;
  font-size: 62.5%;
}

p, li {
  font-size: 1.6em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.backdrop {
  background-color: black;

  height: 350px;
  overflow: hidden;

  img {
    opacity: 0.7;

    position: relative;
    top: -50%;
  }
}
