html {
  font-size: 62.5%;
}

body {
  font-family: Ubuntu, Verdana, sans-serif;

  color: #333333;
  background-color: #eeeeee;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;

  margin-bottom: 2.4rem;
}

p, li {
  font-size: 1.6rem;

  line-height: 2.3rem;
}

.backdrop {
  height: 350px;
  overflow: hidden;

  background-position-x: center;
  background-position-y: 25%;

  position: relative;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: inherit;
}

.pull-up-1 {
  margin-top: -65px;
}

.color-white {
  color: $font-color-white;
}
