<nav class="header no-bg">
  <div class="container cf">
    <ul class="left col-12">
      <li class="left visible-sm hidden-md hidden-lg hidden-xl larger-sm"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
      <li class="left hidden-sm"><a href="#">Dashboard</a></li>
      <li class="left hidden-sm active"><a href="#">Anime</a></li>
      <li class="left hidden-sm"><a href="#">Community</a></li>
      <li class="left hidden-sm"><a href="#">Item 1</a></li>
      <li class="left hidden-sm"><a href="#">Item 2</a></li>
      <li class="right"><a href="#"><img class="avatar-circle-small" src="assets/images/avatar.jpg"></a></li>
      <li class="right larger-sm"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
